{
  "semi": false,
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-router-dom$",
    "^@mui/(.*)$",
    "^notistack$",
    "^socialvoid$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
